<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IdEtudiant1</key>
	<dict>
		<key>name</key>
		<string>Legrand</string>
		<key>lastName</key>
		<string>Jean</string>
		<key>classe</key>
		<string>TP1</string>
		<key>specialite</key>
		<string>S</string>
		<key>town</key>
		<string>Bordeaux</string>
		<key>dept</key>
		<string>33</string>
		<key>email</key>
		<string>j@j.fr</string>
		<key>numTel</key>
		<string>0603032032320</string>
		<key>integrationDUT</key>
		<string>non</string>
		<key>integrationLP</key>
		<string>I2M</string>
	</dict>
</dict>
</plist>
